<div class="signup-box1">
  <div class="signup-box-inner">
    <h1>新規登録</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="signup-box-name">
        <%= f.label :name, "ニックネーム" %><span>必須</span><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>


      <div class="signup-box-email">
        <%= f.label :email, "メールアドレス" %><span>必須</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="signup-box-password">
        <%= f.label :password, "パスワード" %><span>必須</span>
        <% if @minimum_password_length %>
        <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="signup-box-password">
        <%= f.label :password_confirmation, "パスワード（確認）" %><span>必須</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="signup-box-icon-text">アイコン（選択されない場合は別画像が表示されます）</div>
      <div class="signup-box-icon">
        <%= f.label :image, "画像を選択" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div id="new-image"></div>

      <div class="signup-box-login">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>

    <div class="signup-box-newusr">
      <p>-------------------------登録済みの方はログイン-------------------------</p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
