<div class="login-box1">
  <div class="login-box-inner">
    <h1>ログイン</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-box-email">
        <%= f.label :email, "メールアドレス" %><span>必須</span><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="login-box-password">
        <%= f.label :password, "パスワード" %><span>必須</span><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="login-box-login">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <div class="login-box-newusr">
      <p>---------------新規登録はこちら---------------</p>
      <%= render "devise/shared/links" %>
    </div>
</div>