  <div class="mypage">
    <div class="mypage-top">
    <%= link_to edit_user_registration_path(@user), class: 'text-dark' do %>
      <% if @user.image.attached? %>
        <%= image_tag @user.get_image(2000,2000), class: 'icon' %>
      <% else %>
        <%= image_tag 'no_image.jpg', class: 'icon' %>
      <% end %>
      <%= @user.name %>さん
    <% end %>
    </div>
    <div class="mypage-box">
      <% @favorite_plans.each do |plan| %>
        <%= link_to plan_path(plan.id) do %>
        <div class="mypage-box-body">
          <div class="mypage-box-body-upr">
            <%= image_tag plan.get_image(2000,2000), class: 'mypage-box-image' %>
          </div>
          <div class="mypage-box-body-lwr">
          <h3 class="mypage-box-travel"><%= plan.travel_i18n %></h3>
          <h3 class="mypage-box-title"><%= plan.title.truncate(14) %></h3>
        <% end %>
          <div class="mypage-favorite">
            <div class="mypage-create"><%= plan.created_at.strftime('%Y/%m/%d') %></div>
              <div id="favorite_buttons_<%= plan.id %>" class="favorite-button">
                <%= render "favorites/favorites", plan: plan %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
<%= paginate @favorite_plans, theme: 'twitter-bootstrap-4' %>