<% if @plan.errors.any? %>
  <%= @plan.errors.count %>件のエラーが発生しました
  <ul>
    <% @plan.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>タイトル・旅行先・旅行先の画像(1枚)を記入してください</h1>

<%= form_with model:@plan, local:true do |f| %>
  <div class="plan-area">
    <h4>タイトル<span>必須</span></h4>
    <%= f.text_field :title %>

    <h4>旅行先<span>必須</span></h4>
    <%= f.select :travel, options_for_select(Plan.travels_i18n.invert), {prompt: "都道府県を選択してください"} %>

    <h4>画像<span>必須</span></h4>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <%= f.submit "旅行プランの入力へ進む" %>

<% end %>