<h1>新規投稿画面</h1>

<%= form_with model:@plan, local:true do |f| %>
  <h4>タイトル<span>必須</span></h4>
  <%= f.text_field :title %>

  <h4>旅行先<span>必須</span></h4>
  <%= f.select :travel, options_for_select(Plan.travels), {prompt: "都道府県を選択してください"} %>

  <h4>画像<span>必須</span></h4>
  <%= f.file_field :image_id, accept: "image/*" %>

  <%= fields_for @content do |f| %>
    <%= f.text_field :day %>日目

    <!--ここにorder_idを1から連番でplanに連なる順番を保存する記述-->

    <!--時間はデイトピッカー(iPhoneのアラームの選択するやつ)で実装-->
    <h4>時間を選択</h4>
    <%= f.text_field :time %>

    <h4>行先</h4>
    <%= f.text_field :place %>

    <h4>写真</h4>
    <%= f.file_field :image_id, accept: "image/*" %>

    <h4>行先についての説明</h4>
    <%= f.text_area :explanation %>

    <h4>【観光地・店舗】の基本情報</h4>
    <p>名称：<%= f.text_field :name %></p>
    <p>住所：<%= f.text_field :address %></p>
    <p>電話番号：<%= f.text_field :telephonenumber %></p>
    <p>アクセス：<%= f.text_field :access %></p>
    <p>営業時間：<%= f.text_field :businesshours %></p>
    <P>料金など：<%= f.text_field :price %></P>
    <p>滞在時間：<%= f.text_field :stay_time %></p>
    <p>評価：☆☆☆☆☆</p>

    <div>
      <%= f.select :move_id, options_for_select(Move.names), {prompt: "移動手段を選択してください"} %>
      <span><%= f.text_field :move_time %>分</span>
    </div>
  <% end %>

  <%= f.submit "投稿" %>

<% end %>