<div class="newplan-box">
  <div class="newplan-box-inner">
    <h1>旅行プラン作成</h1>

    <%= form_with model:@plan, local:true do |f| %>

      <div class="newplan-box-title">
        <%= f.label :title, "タイトル" %><span>必須</span><br>
        <%= f.text_field :title, placeholder: "例)沖縄旅行1日目" %>
        <%= render "plans/plan_error", col: :title, resource: @plan %>
      </div>

      <div class="newplan-box-travel">
        <%= f.label :trabvel, "旅行先(都道府県)" %><span>必須</span><br>
        <%= f.select :travel, options_for_select(Plan.travels_i18n.invert), {prompt: "都道府県を選択してください"} %>
        <%= render "plans/plan_error", col: :travel, resource: @plan %>
      </div>

      <div class="newplan-box-image-text">思い出の画像（一覧のタイトルに表示されます）</div>
      <div class="newplan-box-image">
        <%= f.label :image, "画像を選択" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div id="new-image"></div>

      <div class="newplan-box-submit">
        <%= f.submit "旅行プラン詳細入力へ進む" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'preview' %>