<div class="show-box">

  <h1><%= @plan.title %></h1>

  <div class="content">
    <% @contents.each do |content| %>
    <div class="content-heading">
      <div class="content-order">
        <p><%= content.order %></p>
      </div>
      <div class="content-hour"><%= content.hour %>:<%= content.minute %></div>
      <div class="content-place"><%= content.place %></div>
    </div>
    <div class="content-line">
      <div class="content-image"><%= image_tag content.get_image(300,300), class: 'show-box-image' %></div>
      <div class="content-explanation"><%= content.explanation %></div>
      <div class="content-info">【観光地・店舗】の基本情報</div>
      <div class="content-info-box">
        <div class="content-info-text">名称</div>
        <div class="content-info-data"><%= content.name %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">住所</div>
        <div class="content-info-data"><%= content.address %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">電話番号</div>
        <div class="content-info-data"><%= content.telephonenumber %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">アクセス</div>
        <div class="content-info-data"><%= content.access %></div>
      </div>
     <div class="content-info-box">
       <div class="content-info-text">営業時間</div>
        <div class="content-info-data"><%= content.businesshours %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">予約</div>
        <div class="content-info-data"><%= content.reservation %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">料金</div>
        <div class="content-info-data"><%= content.price %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">滞在時間</div>
        <div class="content-info-data"><%= content.stay_time %></div>
      </div>
      <div class="content-info-box">
        <div class="content-info-text">評価</div>
        <div class="content-info-data" id="star-rate-<%= content.id %>"></div>
            <script>
              $('#star-rate-<%= content.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= content.rate %>,
              });
            </script>
      </div>
    </div>

    <div></div>

    <div class="content-change1">
      <% if @plan.user == current_user %>
        <%= link_to "行先を編集", edit_plan_content_path(@plan.id, content.id), class: 'btn btn-sm btn-success' %>
        <%= link_to "行先を削除", plan_content_path(@plan.id, content.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
    <% end %>

    <div class="content-change2">
    <% if @plan.user == current_user %>
      <%= link_to "行先を追加", new_plan_content_path(@plan.id), class: 'btn btn-sm btn-primary' %>
      <%= link_to "タイトル/旅行先/思い出の画像を編集", edit_plan_path(@plan.id), class: 'btn btn-sm btn-success' %>
      <%= link_to "旅行プランを削除", plan_path(@plan.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    </div>

    <div class="comment">
      <div class="comment-text">みんなのコメント</div>
        <div class="comment-body">
          <div class="comment-name">
            <%= image_tag current_user.get_image(300,300), class: 'icon' %>
            <%= current_user.name %>
          </div>
          <div class="comment-area">
            <%= form_with model: [@plan,@comment], local: true do |f| %>
              <%= f.text_area :comment, placeholder: "コメントを入れてください" %>
              <%= f.submit "投稿する" %>
            <% end %>
          </div>
        </div>


      <% @comments.each do |c| %>
      <div class="all-comment-body">
        <div class="all-comment-name">
          <%= image_tag c.user.get_image(300,300), class: 'icon' %>
          <%= c.user.name %>
        </div>
        <div class="all-comment-area">
          <%= safe_join(c.comment.split("\n"),tag(:br)) %>
          <%#= c.comment %>
          <div class="comment-destroy">
            <% if c.user == current_user %>
              <%= link_to "コメント削除", plan_comment_path(@plan.id, c.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>