<!DOCTYPE html>
<html>
  <head>
    <title>TravelRecommendPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand p-3" href="/"><%= image_tag 'ryokou.png', size: '50x50' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to new_plan_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-edit"></i> 旅行プラン投稿
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to mypage_plans_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-user-tag"></i> マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to plans_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-list-alt"></i> 投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to homes_about_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
              <!--<li class="nav-item">-->
              <!--  <%#= link_to plans_path, class: 'nav-link text-dark' do %>-->
              <!--    <i class="far fa-list-alt"></i> 投稿一覧-->
              <!--  <%# end %>-->
              <!--</li>-->
            <% end %>
            </ul>
          </div>
      </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="text-center bg-dark text-white pt-4 pb-4">
      Copyright © Infratop Inc. All Rights Reserved.
    </footer>
  </body>
</html>
